:root {
  --color-white: #ffffff;
  --color-secondary-white: #fafafa;
  --card-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  --color-black: #333333;
  --color-gray: #a39e9e;
  --color-light-gray: #f1f3f5;
  --color-p-pink: #db5dcc;
  --color-p-pink-dark: #db0fc3;
  --color-p-pink-darker: #ac1a9a;
  --color-active-blue: #a5d8ff;

  --border-radius: 8px;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../static/OpenSans.eot');
  src: url('../static/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../static/OpenSans.woff2') format('woff2'),
    url('../static/OpenSans.woff') format('woff'),
    url('../static/OpenSans.ttf') format('truetype'),
    url('../static/OpenSans.svg#OpenSans') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../static/OpenSans-Semibold.eot');
  src: url('../static/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../static/OpenSans-Semibold.woff2') format('woff2'),
    url('../static/OpenSans-Semibold.woff') format('woff'),
    url('../static/OpenSans-Semibold.ttf') format('truetype'),
    url('../static/OpenSans-Semibold.svg#OpenSans') format('svg');
  font-weight: 500;
  font-style: normal;
}

html {
  font-family: 'Open Sans', sans-serif;
}

/* Container */
.container {
  padding: 0 15px;
}

.color-container {
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  max-width: 768px;
  color: var(--color-light-gray);
}

.block-container {
  max-width: 560px;
  margin: 32px;
}

/* Card */
.card {
  cursor: pointer;
  border-radius: 2px;
  position: relative;
  background-color: var(--color-white);
  box-shadow: var(--card-shadow);
  display: block;
  margin-bottom: 7px;
  margin: 10px;
  padding: 16px;
  width: 20%;
}

.card:hover {
  background-color: var(--color-light-gray);
}

/* Card thumbnail */
.thumbnail {
  padding: 8px;
}

.thumbnail__img {
  display: block;
  width: 100%;
}

/* Card title */
.card__title {
  color: var(--color-black);
  font-size: 12px;
  line-height: 15px;
  margin: 6px auto;
}

.card__stars {
  display: flex;
  margin: 7px 0 15px;
}

.star {
  width: 15px;
  height: auto;
  margin-right: 5px;
}

.user {
  display: flex;
  align-items: center;
}

.user__avatar-img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.user__name {
  color: var(--color-gray);
  font-size: 10px;
  line-height: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 6px;
}

.button {
  border: 0;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}

.button:active {
  border: 3px solid var(--color-active-blue);
}

.button--p {
  background-color: var(--color-p-pink);
  color: var(--color-white);
  height: 64px;
  border-radius: 50px;
  min-width: 276px;
  text-transform: uppercase;
}

.button--p:hover,
.button--s:hover {
  background-color: var(--color-p-pink-dark);
  color: var(--color-white);
}

.button--p:active,
.button--s:active {
  background-color: var(--color-p-pink-darker);
  color: var(--color-white);
}

.button--s {
  background-color: transparent;
  color: var(--color-p-pink);
  border: 1px solid var(--color-p-pink);
  height: 64px;
  border-radius: 50px;
  min-width: 276px;
  text-transform: uppercase;
}

.color-card {
  width: 128px;
  height: auto;
  border-radius: var(--border-radius);
  box-shadow: rgba(42, 42, 42, 0.11) 0px 4px 6px,
    rgba(0, 0, 0, 0.08) 0px 1px 3px;
  margin: 8px;
}

.color-card__color {
  width: 100%;
  height: 128px;
}

.color-card__description {
  background-color: var(--color-secondary-white);
  display: flex;
  padding: 8px;
  justify-content: space-between;
  font-size: 14px;
  height: 32px;
  align-items: center;
}

.color-text {
  color: var(--color-gray);
  text-transform: uppercase;
}

.color-suffix {
  color: var(--color-black);
  text-transform: uppercase;
  font-weight: 600;
}

.color--white {
  background-color: var(--color-white);
}

.color--black {
  background-color: var(--color-black);
}

.color--gray {
  background-color: var(--color-gray);
}

.color--lightGray {
  background-color: var(--color-light-gray);
}

.color--primaryPink {
  background-color: var(--color-p-pink);
}

.color--pinkDark {
  background-color: var(--color-p-pink-dark);
}

.color--pinkDarker {
  background-color: var(--color-p-pink-darker);
}

.color--blue {
  background-color: var(--color-active-blue);
}
